/* navbar */
:root{
    --mint:#B4F8C8;
}
@font-face {
    font-family: "Fantasque";
    src: url(./TTF/FantasqueSansMono-Regular.ttf) format("truetype");
}
body{
    margin:3% 3% 3%;
    background-color: black;
}
#title{
    font-family: 'Ubuntu', sans-serif;
}

.inner{
    border: 4px solid #fff;
}
.comment{
    margin-left: 13px;
}
.top-div{
    border:1px solid #fff;
}
.top-div, .navbar{
    padding: 1% 3% 1%;
    background-color: #36373a;
    
    border-radius: 30px;
    margin-bottom: 3%;
}
#nav1{
    position: sticky;
}
.top-head{
    color: rgb(67, 67, 245);
    font-family: 'Nunito', sans-serif;
}
.nav-item{
    padding: 0 10px 0;
}
.icon{
    height: 80px;

}
.search-img{
    height:30px;
    
}
.search-btn{
   
    border-radius: 20px;
    border-style: none;
    border: 1px solid #fff;
    background-color:black;
    color: #fff;
    padding:1% 2% 1%;
}
.search-btn:hover{
    background-color: #ea4335;
    color: #fff;
}
.midbars{
    padding-top: 6px;
    color: #fff;
}
 @media (max-width:992px) {
     .midbars{
         display: none;
     }
 }

 .title{
     position: relative;
     font-size: 35px;
     top:17px;
     left:5px;
     
     /* color: #fff; */
 }
 .mid-div{
     text-align: center;
     height: 60%;
     padding:10% 50px 10%;
     border:1px solid #fff;
     background-color: #36373a;
     border-radius: 30px;
     margin-bottom: 3%;
 }
 .content{
    font-family: 'Domine', serif;
     font-size: 40px;
     font-weight: 900;
     padding-bottom: 2%;
     word-spacing: 10px;

 }
 .search-bar{
     width: 70%;
     height: 50px;
     border-radius: 30px;
     background-color: black;
     border-style: none;
     border: 2px solid #fff;
     color:#fff ;
     font-size:x-large;
     text-align: center;
 }
 .searchline{
     height: 100%;
     width: 80%;
 }
 .search-btn{
     margin-bottom: 9px;
 }
 .carousel-div{
     padding: 3% 9% 3%;
     text-align: center;
     border:1px solid #fff;
     background-color:#36373a;
     border-radius: 30px;
     margin-bottom: 3%;
 }
.new-div{
    padding: 3% 0 3%;
    color: rgb(255, 255, 255);
}
.new-book{
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing:3px;
    font-size: 60px;
    text-shadow: -1px 1px 0 #ea4335,
    1px 1px 0 #ea4335,
   1px -1px 0 #ea4335,
  -1px -1px 0 #ea4335;
    
}
 .last-div{
    text-align: center;
    padding: 3% 0 2%;
}
#footer{
    border:1px solid #fff;
    background-color: #36373a;
    color: #fff;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
}

.login-page{
    font-family: 'Domine', serif;
    padding:2% 6% 3%;
} 
.login-inputs{
    width: 80%;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    padding:2% 3% 0;
}
.rule-button{
    margin: 2% 2% 3% 5%;
    background-color: black;
    color: #fff;
}
@media (max-width:650px){
    .hello{
        display: none;
    }
    .phone-icon::before{
        background-image: url('images/phone-call.png');
        background-size: 15px 15px;
        display: inline-block;
        background-repeat: no-repeat;
        width: 25px; 
        height: 14px;
        content:"";

    }
    .mail1{
        display: none;
    }
    .mail::before{
        background-image: url('images/email.png');
        background-size: 15px 15px;
        display: inline-block;
        background-repeat: no-repeat;
        width: 25px; 
        height: 14px;
        content:" ";

    }
}
.books{
    padding: 2% 25% 2%;
}
.pair-img{
    float: left;
    margin-right: 3%;
}
.pairs{
    height: 200px;
    margin:2% 3% 2%;
   
}
@media (max-width:900px){
    .books{
        padding: 2% 10% 2%;
    }
}

.rule{
    background-color: #36373a;
    font-family: "Fantasque", Verdana, Tahoma;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}